/* ----------Education Text styles---------- */

#educationSection {
    background-color: #333333;
    padding: 3em 10%;
}

#educationSection h1 { 
    font-size: 3em;
    text-align: center;
    padding-bottom: 0.5em;
}

/* ----------Accordion Headers styles---------- */

#subjectGrade {
    display: flex;
    align-items: center;
    padding: 0.3em 1.5em;
    background-color: #333333;
    font-size: 1.3em;
}

/* Pushes this element to the right */
#grade{
    margin-left: auto;
}

/* ----------Accordion styles---------- */

.accordion{
    margin: 3em auto;
    width: 90%;
}

.accordion li {
    list-style: none;
    width: 100%;
    border-top: 1px solid #575757;
}

.accordion li label {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.2em;
    font-size: 1.1em;
    font-weight: 600;
}

label::before {
    content: '+';
    margin-right: 1em;
}

input[type="radio"] {
    display: none;
}

.accordion .content {
    color: white;
    max-height: 0;
    overflow: hidden;
    padding: 0em 3em; /* remove these this lines for cool affect */
    transition: max-height 0.5s, padding 1s;
}

.accordion input[type="radio"]:checked + label + .content {
    max-height: 100vh;
    padding: 2em 3em;
}

/* Changes the + to - when expanded */
.accordion input[type="radio"]:checked + label::before {
    content: '-';
}

.accordion li label:hover{
    background-color: #4C4C4C;
}