/* ----------General styles---------- */

sup {
    font-size: 0.6em;
}

/* ----------Education Text styles---------- */

:root {
    --padding-grade-and-subject: 1.5em;
    --mobile-logo-size: 3.5em;
}

#educationSection {
    padding: 3em 10%;
}

.educationParagraph{
    color: #9a9a9a;
}

.collegeEducationOverview{
    font-size: 3em;
    text-align: center;
    padding-bottom: 0.5em;
}

.yearGrades { 
    font-size: 2em;
    text-align: center;
    padding: 1.5em 0 0.5em 0;
}

/* ----------Accordion Headers styles---------- */

.subjectGradeLabelContainer {
    display: flex;
    align-items: center;
    padding: 0.3em 1.5em;
    background-color: #333333;
    font-size: 1.3em;
}

/* Pushes this element to the right */
.gradeLabel {
    margin-left: auto;
}

/* ----------Accordion styles---------- */

.accordion {
    margin: 0em auto;
    width: 100%;
    display: none;
}

.accordion.active {
    display: block;
}

.subject {
    list-style: none;
    width: 100%;
    border-top: 1px solid #575757;
}

.accordionHeader {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.2em;
    font-size: 1.1em;
    font-weight: 600;
    /* Ensures that there isn't a blue selector color on the element when they are clicked */
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

/* Add the "+" symbol dynamically */
.accordionHeader::before {
    content: '+';
    margin-right: 1em;
}

/* Changes the + to - when expanded */
.accordionHeader.active::before {
    content: "\2212";
}

/* Hide content by default */
.content {
    overflow: hidden;
    max-height: 0;
    padding: 0em 3em; /*  remove this lines for cool affect */
    transition: max-height 0.5s, padding 1s;
}

/* Opens the content */
.accordionHeader.active + .content {
    padding: 2em 3em;
    max-height: 100vh;
}

.accordionHeader:hover {
    background-color: #4C4C4C;
}

.grade {
    margin: 0 1.5em 0 auto;
}

/* ----------tab menu---------- */

.tabTitle {
    display: flex;
    margin-top: 2em;
    justify-content: space-around;
    background-color: #333333;
    border: 1px solid #575757;
    border-radius: 8px;
    overflow: hidden;
}

.tabLinks {
    list-style: none;
    cursor: pointer;
    position: relative;
    width: 25%;
    text-align: center;
    padding: 0.5em;
    color: #FFFFFF;
}

.tabLinks.active{
    background-color: #0070FF;
}

/* Add a divider between buttons */
.tabLinks:not(:last-child) {
    border-right: 1px solid #575757;
}