/* ----------General styles---------- */

* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", Helvetica, Arial, sans-serif;
}

body {
    background-color: #1f1f1f;
    color: #FFFFFF;
}

a, .hamburgerMenu {
    /* Ensures that there isn't a bule selector color on items when they are clicked */
    -webkit-tap-highlight-color: transparent;
    outline: none;
} 

/* ----------navbar styles---------- */

:root {
    --logo-size: 5em;
    --mobile-logo-size: 3.5em;
}

nav {
    /* Keeps the navBar at the top while being a reference for (nav ul) the options */
    position: sticky;
    /* Ensures this element above the headerText */
    z-index: 3;
    /* Adds space the right and left of the navBar */
    padding: 0em 10%;
    top: 0em;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

nav.backgroundColor {
    background-color: #121212;
}

.logo {
    font-size: var(--logo-size);
    padding: 0em;
    line-height: 1;
    text-decoration: none;
    color: #0070ff;
    font-weight: bold;
    /* Ensures this element above the hero image filter */
    z-index: 2;
}

nav ul {
    /* Pushes this element to the right */
    margin-left: auto;
    display: flex;
    gap: 4em;
}

nav ul li {
    display: inline-block;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
}

nav ul li a:hover {
    color: #9a9a9a;
}

/* stops scroling when the mobile navBar is open */
body.noScroll {
    overflow: hidden;
}

/* ----------social media section styles---------- */

footer img {
    height: 2em;
    width: 2em;
}

.contactSocialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
}

.socialMediaIcons {
    padding-bottom: 1em;
    gap: 2em;
}

/* ----------legal section styles---------- */

.legal {
    background-color: #000000;
    text-align: center;
    padding: 1.5em;
}

.legal a {
    text-decoration: none;
    color: #0070ff;
}

/* ----------responsive section styles---------- */

@media (max-width: 1000px) {

    /* Creates a layout for the hamburgerMenu lines */
    .hamburgerMenu {
        width: 30px;
        height: 23px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        z-index: 2;
        margin-left: auto;
    }

    /* Styles the hamburgerMenu lines */
    .hamburgerMenu span {
        width: 100%;
        height: 3px;
        border-radius: 3px;
        background-color: #FFFFFF;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }

    /* Animates the lines */
    .hamburgerMenu.open span:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    .hamburgerMenu.open span:nth-child(2) {
        opacity: 0;
    }

    .hamburgerMenu.open span:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }

    /* Changes the background color and reduce the space to either side of the navBar */
    nav {
        padding: 0em 1em;
        background-color: #121212;
    }
    /* Reduce the size of the logo */
    .logo {
        font-size: var(--mobile-logo-size);
    }

    nav ul {
        background-color: #121212cc;
        backdrop-filter: blur(10px);
        position: fixed;
        top: 0;
        right: 0;
        width: 15em;
        height: 100vh;
        /*  */
        flex-direction: column;
        padding-top: calc(var(--mobile-logo-size) - 1em);
        gap: 0em;
        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }

    nav ul.open {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    nav ul li {
        display: block;
    }

    nav ul li a {
        display: block;
        padding: 1em;
        text-align: center;
    }

    nav ul li a:hover {
        background-color: #000000;
        color: #FFFFFF;
    }

    .contactSocialMedia, .legal {
        font-size: 0.9em;
    }

    .socialMediaIcons {
        font-size: 1em;
    }

    h1.contactSocialMedia {
        font-size: 1.5em;
    }
}

@media (max-width: 325px) {
    nav ul {
        width: 100%;
    }

    .contactSocialMedia, .legal {
        font-size: 0.7em;
    }

    h1.contactSocialMedia {
        font-size: 1.2em;
    }
}
